.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 50%);
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #6200ee;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 0;
  }
}
